.app-header {
  height: 5rem;
  background: $bg-header;
  border: 0.6px solid $border-color;
  border-radius: 0.75rem;
  margin: 1.125rem;
}

.mobile-menu-btn {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background: transparent;
  color: #222;
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;

  &:hover {
    color: #3c6841;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.header-logo {
  height: 2.5rem;
}

.search-box {
  width: 28.125rem;
  height: 3.125rem;
  position: relative;
  margin-right: 1.125rem;

  .form-control {
    height: 3.125rem;
    padding-left: 2.75rem;
    border-radius: 0.75rem;
    border: 1px solid $border-color;
    font-size: 14px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 0.875rem;
    transform: translateY(-50%);
    color: $muted-gray;
  }
}


.icon-btn {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  border: 1px solid $border-color;
  background: $white;

  display: flex;
  align-items: center;
  justify-content: center;
}


.user-info {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: right;

  .user-name {
    font-weight: 400;
  }

  .user-email {
    color: $muted-light;
  }
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
