.app-header {
  height: 80px;
  background: #edf7ec;
  border: 0.6px solid #bfbfbf;
  border-radius: 12px;
  margin: 18px;
}

.header-logo {
  height: 40px;
}

.search-box {
  width: 450px;
  height: 50px;
  position: relative;
  margin-right: 18px;

  .form-control {
    height: 50px;
    padding-left: 44px;
    border-radius: 12px;
    border: 1px solid #bfbfbf;
    font-size: 14px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #777;
  }
}


.icon-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bfbfbf;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}


.user-info {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.2;
  text-align: right;

  .user-name {
    font-weight: 400;
  }

  .user-email {
    color: #666;
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
