.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-sidebar {
  width: 15rem;
  background: $bg-header;
  border-radius: 0.75rem;
  margin: 1rem;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: $bg-header;
  border-bottom: 1px solid $border-soft;
  z-index: 1000;
}

.app-main {
  flex: 1;
  margin: 0 1rem;
}

// .app-footer {
//   text-align: center;
//   padding: 0.75rem;
//   font-size: 0.75rem;
// }
body {
  background-color: $bg-body; /* Figma light green */
  font-family: 'Poppins', sans-serif;
}
.dashboard-layout {
  display: flex;
  width: 100%;
  //height: calc(100vh - 80px);
}
// .dashboard-main {
//   margin-left: 1.3125rem;
//   margin-top: 1.3125rem;
//   margin-right: 1.3125rem;
//   flex: 1;
//   display: flex;
//   padding-top: 0.75rem;
//   padding-left: 1rem;
//   padding-right: 1rem;
//   overflow: hidden; 
//   background: $bg-panel-alt;
//   min-width: 0;  
//   overflow-y: auto;
// }

.dashboard-main {
  flex: 1;                 // 🔑 allows footer to stick bottom
  margin: 1.3125rem 1.3125rem 0 1.3125rem;
  padding: 1rem 0rem 0rem 1rem;

  overflow-y: auto;        // content scrolls, not footer
  background: $bg-panel-alt;
  border-radius: 0.75rem;
  display: flex;

}


.dashboard-page {
  background: $bg-panel-2;
  min-height: 100vh;
}




#sidebar {
  width: 15rem;
  min-height: 70%;
  margin-top: 1.125rem;
  margin-left: 0.6rem;
  transition: width 0.3s ease;

  // --computed-height: auto;
  // height: var(--computed-height);

  &.collapsed {
    width: 4rem !important;
  }
}

#header {
  height: 5rem;
}

// #footer {
//   padding: 0.75rem 0;
//   text-align: center;
//   font-size: 0.75rem;
