.main-content-container {
  background: #f1f9f0;
  border: 0.6px solid #bfbfbf;
  border-radius: 12px;

  margin-top: 8px;
  padding: 16px;    

  box-shadow:
    1px 0px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.15);
}
