.sidebar {
  position: fixed;
  top: 7.25rem; // header height + gap (116px -> 7.25rem)
  left: 1.125rem;

  width: 15rem;
  height: calc(100vh - 8.25rem);

  background: $bg-header;
  border: 1px solid $border-color;
  border-radius: 0.75rem;

  padding: 1rem 0px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  position: relative;
  height: 2.875rem;
  margin-bottom: 0.375rem;

  a {
    height: 2.875rem;
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 0 1rem;
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  i {
    font-size: 18px;
  }
}

.sidebar-item {
  position: relative;
  height: 46px;
}

.sidebar-item.active {
  a {
    background: linear-gradient(90deg, #3c6841, #70c278);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }

  .active-indicator {
    position: absolute;
    left: 0;
    top: 0;

    width: 0.375rem;
    height: 2.875rem;

    background: #1e4b24;

    border-radius: 0 4px 4px 0;
  }
}
